.messageContainer{
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 87vh;
}
.formContainer{
  margin-top:10px;
  border-radius: 35px;
  background-color: #E9E9E9;
  height: 70px;
  width: 70vw;
}
.textBox{
  border:none;
  background-color: transparent;
  height: 100%;
  margin-left:5px;
  outline: none;
}
