.container {
  display: flex;
  border: 1px solid black;
  flex: 1;
}

.focusContainer {
  border: 1px solid black;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainProductContainer {
  border: 1px solid black;
  /* background-color: #333; */
  width: 80%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  max-height: 1000px;

}

.mainProductContentContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 1;

}
.mainTextContentContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  flex: 1;
}

.imageBox {
  flex: 4;
  /* border: 1px solid black; */
  border-radius: 1em;
  margin: 25px;
  width: 700px;
  overflow: hidden;
}

.imageBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.supportingImageBox {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  /* background: rgba(242, 80, 24, 0.6); */
  border-radius:10px;
  margin: 25px;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  /* white-space: nowrap; */
  max-width: 700px;
  padding-left: 10px;
  padding-right: 10px;
}

.supportingImageContainer {
  border-radius: 5px;
  height: 80%;
  width: 500px;
  /* padding: 5px; */
}

.supportingImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.detailsBox {
  flex: 1;
  border: 1px solid black;
  margin: 25px;
  padding: 1em;
}

/*-------Other Items from Seller------*/

.otherItemsBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  margin: 25px;
  overflow: hidden;
  overflow-y: auto;
  padding: 1em;
}

.otherItemsContainer {
  display: flex;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 1em;
  background: white;
  align-items: center;
  width: 97%;
  height: 40%;
  margin-top: 10px;
}

.otherItemsContainer img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.otherItemsTextContainer {
  margin: 10px;
  overflow: hidden;
  margin-top: -1em;;
}

/*--------- Related Items -----------*/

.relatedContainer {
  border: 1px solid black;
  flex: 1;
  min-width: 400px;
  overflow: hidden;
  overflow-y: auto;
  max-height: 1150px;
  padding: 1em;
}

.relatedItem {
  display: flex;
  /* border: 1px solid black; */
  border-radius: 1em;
  background: white;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 25px;
  padding: 1em;
}
.relatedItemImageBox {
  display: flex;
  /* border: 1px solid black; */
  border-radius: 5px;
  height: 80%;
  width: 500px;
}
.relatedItemImage {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.relatedText {
  /* white-space: nowrap; */
  /* word-wrap: break-word; */
  margin: 10px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}