.fullPage {
  display: flex;
  justify-content: space-around;
}

.mainProductPicBox {
  width: 30%
}

.productImg {
  width: 80%;
}

.allProductImages {
  width: 30%;
  border-radius: .3em;
}

.description {
  font-size: 14pt;
  margin-bottom: 3rem;
}

.similarImages {
  width: 30%;
}

.sellerItemImages {
  width: 30%;
}

.link {
  text-decoration: none;
}

/*------- Formatting for other items list--------*/

.otherInfoMainBox {
  width: 30%;
}

.otherItemList {

}

.otherItemBox {

}