section {
  display: flex;
  flex: 1;
}

.focusContainer {
  /* border: 1px solid black; */
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* PRODUCT INFORMATION BELOW */

.mainProductContainer {
  /* border: 1px solid black; */
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  max-height: 1000px;
}

.mainProductContentContainer {
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fafafa;
  flex-direction: column;
  flex: 1;
  margin: 25px;
  padding: 25px;
  overflow: scroll;
  overflow-x: hidden;
}

.mainProductContentContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  width: 12px;
  background-color: transparent;
}

.mainProductContentContainer::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 10px;
  height:90%;
  margin-right:10px;
  /* background-color: transparent; */
  /* background-color: #555; */
}

.mainProductContentContainer::-webkit-scrollbar-track {
  height: 50%;
  border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 10px;
  margin-right:10px;
  display: none;
  margin-bottom: 10px;
}

.mainProductContentContainer h3 {
  margin-bottom: 50px;
}

.row {
  display: flex;
  overflow: none;
  border-radius: 10px;
  /* background-color: #333; */
  border: 1px solid black;
  height: 175px;
  margin-bottom: 35px;
  width: 100%;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 1;
  max-width: 250px;
  min-width: 180px;
}

.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-between;
  overflow: hidden;
  padding: 15px;
  max-width: 450px;
  position: relative;
}

.textContainer h3 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer button {
  border: none;
  background-color: peachpuff;
  padding: 10px 10px;
  width: 100px;
  border-radius: 50px;
}

.textDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  position: absolute;
  top: 5%;
  left: 74%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  justify-content: center;
  background-color: tomato;
  padding: 5px 5px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  width: 80px;
}

/* TOP USER INFO CONTAINER */

.userInfoContainer {
  /* border: 2px black solid; */
  width: 50%;
  height: 50%;
  background-color: rgba(255 255 255 / 33%);
  flex: 1;
  max-height: 200px;
  display: flex;
  border-radius: 20px;
  gap: 50px;
}

.profilePictureContainer {
  /* border: 2px black solid; */
  flex: 1;
  max-width: 200;
  overflow: none;
}
.profilePictureContainer img {
  overflow: hidden;
  /* border-radius: 50%; */
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* object-fit: contain; */
}
.profileTextContainer {
  display: flex;
  /* flex-direction: column; */
  flex: 4;
  position: relative;
}

.profileTextContainer div {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* border: 2px black solid; */
  margin-bottom: 30px;
}
.profileTextContainer div p {
  padding: 0;
  margin: 0;
}

.strong {
  font-weight: 700;
  font-size: 1.25rem;
}

.semiStrong {
  font-size: 1.25rem;
}

.trustScore {
  top: 0%;
  left: 79.5%;
  display: flex;
  flex-direction: center;
  align-items: center;
  align-self: center;
  border-radius: 10px;
  position: absolute;
  padding: 5px;
  width: 100px;
  background-color: tomato;
  margin: 5px;
  color: white;
  font-weight: 700;
}