section {
  display: flex;
  flex: 1;
}

.focusContainer {
  border: 1px solid black;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainProductContainer {
  border: 1px solid black;
  display: flex;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  max-height: 1000px;
  padding: 25px;
}

.mainProductContentContainer {
  background-color: #333;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  flex-direction: column;
  flex: 1;
  margin: 25px;
}

.row {
  display: flex;
  border: 1px solid black;
  justify-content: center;
}

