.markerbtn{
  background: none;
  border: none;
  cursor: pointer;
}

.popUpListingTitle {
  color: black;
  text-decoration: none;
}

.popUpListingTitle:hover {
  color: black;
  
}
/* .mapboxgl{
  margin: auto;
  width: 75%;
  border: solid;
  border-color: black;
} */
